<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <h1><%= title %></h1>
      <a href="/new">Add a new message?</a>
    </div>
    <div class="body">
      <% for (const message of messages) { %>
      <div class="message">
        <div class="flex">
          <p><%= formatDate(message.date) %></p>
          <p><%= message.user %></p>
        </div>
        <p class="text"> <%= message.text %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
